/* src/App.css */

/* Basic Reset */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Container for the App */
.App {
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* Heading Style */
h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 1rem;
}

/* Form Style */
form {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

input[type="text"],
input[type="date"],
input[type="text"],
button {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 13.5px;
}

input[type="text"]::placeholder,
input[type="text"]::placeholder {
  color: #aaa;
}

button{
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.btns button:hover {
  background-color: #7ebafa;
}

/* Task List and Items */
.TaskList {
  list-style: none;
  padding: 0;
}

.TaskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.TaskItem:hover {
  background-color: #e9ecef;
}

.TaskItem span {
  flex-grow: 1;
  margin-left: 0.75rem;
  text-align: left;
}

.TaskItem span.completed {
  text-decoration: line-through;
  color: #66050e;
}

.TaskItem button {
  background-color: #66050e;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 14px;
  margin-right: 0.5rem;
}

.TaskItem button:hover {
  background-color: #c82333;
}

/* Filter Buttons */
.TaskFilter {
  margin-bottom: 2rem;
}

.TaskFilter button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btns {
  padding: 10px 0px;
  display: flex;
  gap: 10px;
  /* Space between buttons */
}

/* src/TaskFilter.css */
.btns {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.btns button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.btns button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
